.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.container {
  margin-inline: auto;
  padding-inline: 4em;
}

.d-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.faded {
  color: hsla(var(--text-faded) / 55%);
  font-size: 1.2em;
}

/*********** HEADER & NAVBAR **********/

.header {
  width: 100%;
}

.navbar {
  background-color: var(--navbar);
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-cart {
  position: relative;
  display: flex;
  align-items: center;
}

.amount {
  background-color: var(--amount);
  font-weight: 700;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: grid;
  place-content: center;
  position: absolute;
  top: -10px;
  left: 26px;
}

.shoppingBag {
  width: 36px;
  height: 36px;
}

/*********** CART **********/

.cart {
  flex: 1;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.cart-title {
  padding-top: 2em;
  color: var(--text);
  text-transform: uppercase;
}

.display-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4em;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.thumbnail {
  background-color: var(--thumbnail);
  padding: 1em;
  border-radius: 6px;
  display: flex;
}

/*********** FOOTER **********/

.footer {
  padding-top: 2em;
  width: 80%;
  text-align: center;
}
